<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <title>Kontakti</title>
  <link rel="stylesheet" href="{{url_for('static', filename='stils.css')}}" />
  <script src="{{url_for('static', filename='skripts.js')}}"></script>
</head>


<body>
 <img src="https://cdn.glitch.global/93272b2a-4c2e-4741-b383-ff419f70edf3/kontakti.jpg?v=1749981708836" alt="Apraksts" style="display: block; margin: 0 auto;"
          <div class="container">
          <div class="column">
            <h2>Tālrunis</h2>
            <p>+371 2 777 777</p>
          </div>
          <div class="column">
            <h2>E-pasts</h2>
            <p>info@macosprogrammet.lv</p>
          </div>
          <div class="column">
            <h2>Adrese</h2>
            <p>Makaronu iela numurs nolaizīts.</p>
          </div>

        
</body>
</html>