<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Python Flask Piemēri</title>
  </head> 
  
  <body>
    <h1>
      Pamati Sintakse
    </h1>
    <nav>
      <ul>
        <li><a href="/sveiciens">Sveiciens Pasaule</a></li>
        <li><a href="/mainigie">Mainīgie</a></li>
        <li><a href="/datu_tipi">Datu tipi</a></li>
        <li><a href="/operatori">Operātori</a></li>
        <li><a href="/kontroles_strukturas">Kontroles struktūras</a></li>
        <li><a href="/funkcijas">Funkcijas</a></li>
        <li><a href="/ievade_izvade">Ievade Izvade</a></li>
        <li><a href="/failu_apstrade">Failu apstrāde</a></li>
        <li><a href="/oop">OOP</a></li>
        <li><a href="/moduli">Moduļi</a></li>
        <li><a href="/joks">Joks</a></li>
        <li><a href="/csv2">CSV2</a></li>
      </ul>
    </nav>
      
      <div>
      {% block content %}{% endblock %}
      </div>
      
    
  </body>
</html>