<!DOCTYPE html>
<html>
  
<head>
  <meta charset="UTF-8">
  <title>Par mums</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stils.css')}}" />
    <script src="{{url_for('static', filename='skripts.js')}}"></script>
</head>
  
<body>
  
  
  <h1>Par mums</h1>
  <p>Šis ir HTML dokuments par mums</p>
  <img src="https://cdn.glitch.global/93272b2a-4c2e-4741-b383-ff419f70edf3/buv1.jpg?v=1749471576048">
  <marquee>Mans teksts</marquee>
  <a href="/">Atpakaļ</a> <br><br>
  
  <form>
    <label for="vards">Vārds</label>
    <input type="text" id="vards" name="vards"><br><br>
  </form>
  
  <form>
    <label for="password">Parole</label>
    <input type="password" id="password" name="password"> <br><br>
    <label for="email">Epasts</label>
    <input type="email" id="email" name="email"> <br><br>
    <label for="number">Numurs</label>
    <input type="number" id="number" name="number"> <br><br>
    <label for="date">Datums</label>
    <input type="date" id="date" name="date"> <br><br>
    <input type="submit" value="Aiziet!"> <br><br>
  </form>
  
  <input type="radio"> <br>
  <input type="checkbox"> <br><br>
  <input type="reset"> <br><br>
  <textarea></textarea> <br><br>
  <select></select> <br>
  
  </body>
  
</html>